<div class="container mt-5 text-center">

  <!-- SMALL BUTTON -->
  <button
    type="button"
    class="btn btn-primary add-btn"
    data-bs-toggle="modal"
    data-bs-target="#simpleModal" >
    + Add Contact
  </button>

</div>

<!-- POPUP -->
<div class="modal fade" id="simpleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hello</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This is a simple popup.</p>
      </div>
    </div>
  </div>
</div>
<h5 class="text-center mt-4">User List</h5>

@if (users.length === 0) {
  <p class="text-center text-muted">No users added</p>
}

@if (users.length > 0) {
  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle mt-3">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users; let i = $index; track user.email) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-warning me-2"
                (click)="editUser(user, i)">
                Edit
              </button>

              <button
                class="btn btn-sm btn-danger"
                (click)="deleteUser(i)">
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
